/* Estilo del título */
h1 {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 48px;
    text-align: center;
}

/* Estilo del párrafo */
p {
    font-size: 16px;
    text-align: justify;
}

/* Estilo de la tabla */
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 2px solid black;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo de la imagen */
.imagen-centrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
	min-height: 300px;
	align-self:center;
    width: auto;
}

/* Estilo del formulario */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

/* Fondo del blog */
body {
    background-color: #f0f8ff;
    color: #333; /* Color contrastante para el texto */
}

#loading-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    font-size: 24px;
    display: none;
}

body {
    background-color: #f0f8ff;
    color: #333;
}

body.dark-mode {
    background-color: #333;
    color: #f0f8ff;
}

button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
